body {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

#header {
    display: flex;
    align-items: center;
}

#header img {
    width: 100px;
    margin-right: 100px;
}

#header h3 {
    margin-right: 60px;
    font-weight: bold;
}

select {
    font-size: 50px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    background-color: blue;
    color: white;
}

#right {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#thoigian {
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color: white;
    background-color: green;
    padding: 10px;
}

.capnhat {
    font-weight: bold;
    width: 50px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-weight: bold;
    table-layout: auto;
    font-size: 21px;
}

table th {
    color: white;
    vertical-align: middle;

}

table td {
    background-color: white;
    white-space: nowrap;
}

table .text-right {
    text-align: right;
}

table .text-left {
    text-align: left;
}
.green_text {
    color: green;
}

input {
    text-align: center;
    font-weight: bold;
    width: 60px;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    -ms-border-radius: 5;
    -o-border-radius: 5;
}
input[readonly] {
    border: none;
    background-color: white;
    text-align: center;
    outline: none;
}
.flash-message {
    color: green;
    font-weight: bold;
    margin-right: 50px;
    padding: 10px;
    border: 5px solid green;
    border-radius: 5px;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    -ms-border-radius: 5;
    -o-border-radius: 5;
}

#import_file {
    position: absolute;
    right: 30px;
    bottom: 5px;
}